.content {
  display: flex;
  align-items: center;
  padding: 130px 120px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.text > h1 {
  color: white;
}
.text > p {
  color: white;
}
.img > img {
  border-radius: 5px;
}

.btn1 {
  color: black;
  background-color: yellow;
  width: 75px;
  height: 30px;
  border-radius: 15px;
}

.btn2 {
  color: white;
  background-color: blueviolet;
  width: 150px;
  height: 40px;
  border-radius: 15px;
}
.btn2:hover {
  background-color: lightgoldenrodyellow;
  color: black;
}
